* {
    margin: 0;
}

@font-face {
    font-family: "titre";
    src: url("./assets/FontFamily/titre/UltimateGameplayers.ttf");
  }
@font-face {
    font-family: "texte";
    src: url("./assets/FontFamily/autre/manaspc.ttf");
}

#transition {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/villabck.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
}

.flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#gameFrame { 
    position: relative;
    width: 200vw;
    height: 100vh;
    background-image: url("./assets/skybck.png");
    background-size: cover;
  background-repeat: no-repeat;
  /*background: rgb(11,0,204);
background: linear-gradient(180deg, rgba(11,0,204,1) 0%, rgba(255,248,211,1) 33%, rgba(0,212,255,1) 39%);*/
overflow: hidden;
}
#startGame {
    font-family: "texte";
    font-size: 1.2rem;
    width: 20vw;
    height: 10vh;
    display: block;
    cursor: pointer;
  background: #ffffffb0;
  border: 1px solid #ffad91;
  outline: none;
  transition: 1s ease-in-out;
}

#startGame:hover {
    transition: 1s ease-in-out;
    background: #daac4f;
  }


#life {
    display: block;
    width: 10vw;
    height: 5vh;
    font-family: "texte";
    font-size: 1rem;
    margin-top: 3vh;
}
#timeRemaining {
    display: block;
    width: 10vw;
    height: 5vh;
    margin-top: 3vh;
    font-family: "texte";
    font-size: 1rem;
}
#vilsav {
    display: block;
    width: 10vw;
    height: 5vh;
    margin-top: 3vh;
    font-family: "texte";
    font-size: 1rem;
}
#navGame {
    width: 50vw;
    height: 5vh;
    top: 0px;
    left: 0px;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navimg {
    height: 3vh;
}

/* Mise en forme page transition */

.title {
    font-family: "titre";
    font-size: 8rem;
    text-shadow: 3px 2px 3px #ffffff;
}

.msg1 {
    font-family: "texte";
    font-size: 1.5rem;
    color: #ffffff;
}
.msg2 {
    font-family: "texte";
    font-size: 1.5rem;
    color: #ffffff;
}

.etat {
    font-family: "texte";
    font-size: 2.8rem;
    color: white;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);;
}
/* mise en forme bloque principal & classes générales */
.bloque {
    position: absolute;
}
.invisible {
    opacity: 0%;
    background-color: black;
}

#id1 {
    background-image: url("./assets/plateformes/essai.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: visible;
    z-index: 3;
}
#id2 > img {
    width: 100%;
}
#id2 {
    z-index: 2;
}

#id3 > img {
    width: 100%;
}
#id3 {
    z-index: 1;
}

#id4 > img {
    width: 100%;
}
#id4 {
    z-index: 1;
}
#id5 > img {
    width: 100%;
}
#id5 {
    z-index: 1;
}
#id6 > img {
    width: 100%;
}
#id6 {
    z-index: 1;
}
#id7 > img {
    width: 100%;
}
#id7 {
    z-index: 1;
}

#id8 > img {
    width: 100%;
}

#id8 {
    z-index: 1;
    animation: platMove 2.5s infinite ease-in-out;
}
@keyframes platMove {
    
    50% {
        transform: translateX(150px)
    }
}

#id9 > img {
    width: 100%;
}
#id9 {
    z-index: 1;
}

#id10 > img {
    width: 100%;
}

#id10 {
    z-index: 1;
animation: platdis 8s infinite linear;
}
#id12 {
    background-image: url("./assets/plateformes/essai.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: visible;
    z-index: 4;
}
#id13 > img {
    width: 100%;
}
#id13 {
    z-index: 3;
}

#id14 > img {
    width: 100%;
}
#id14 {
    z-index: 2;
}

#id15 > img {
    width: 100%;
}
#id15 {
    z-index: 1;
}
#id16 > img {
    width: 100%;
}
#id16 {
    z-index: 1;
}
#id17 > img {
    width: 100%;
}
#id17 {
    z-index: 1;
}
#id18 > img {
    width: 100%;
}
#id18 {
    z-index: 1;
}
#id19 > img {
    width: 100%;
}
#id19 {
    z-index: 1;
}
.deco {
    position: absolute;
    display: block;
}
.img22 {
    z-index: 2;
}


@keyframes platdis {
    20% {
        display: none;
    }

    70% {
        display: none;
    }
}

#id11 > img {
    width: 100%;
}
#id11 {
    z-index: 1;
}

/*css perso*/
#moi {
   position: absolute;
   z-index: 10;
}

.still {
    background-image: url("./assets/personnages/droite/stillD.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 40%;
}

.stillG {
    background-image: url("./assets/personnages/gauche/stillG.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 65%;
}

.runR {
    background-image: url("./assets/personnages/droite/runD.gif");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 45%;
}
.runG {
    background-image: url("./assets/personnages/gauche/runG.gif");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 65%;
}

.jumpD {
    background-image: url("./assets/personnages/droite/jumpD1.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 45%;
}

.jumpG {
    background-image: url("./assets/personnages/gauche/jumpG.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 65%;
}


    /* 40% { 
        background-image: url("./assets/personnages/droite/runD2.png");
        background-size: cover;
   background-repeat: no-repeat;
    }
    60% {
        background-image: url("./assets/personnages/droite/runD3.png");
        background-size: cover;
   background-repeat: no-repeat;
    }
    70% {
        background-image: url("./assets/personnages/droite/runD4.png");
        background-size: cover;
   background-repeat: no-repeat;
    }
    80% {
        background-image: url("./assets/personnages/droite/runD5.png");
        background-size: cover;
   background-repeat: no-repeat;
    } }*/

.hurt {
    animation: hurt 0.5s infinite linear;
}

@keyframes hurt {
    50% {
        opacity: 20%;
    }
}

/*css monstres*/
.monster {
    position: absolute; 
    z-index: 9;
}

@keyframes mt1Move {
    1% {transform: translate(0px, -10px) scaleX(-1);}
    5% {transform: translate(0px,0px) scaleX(-1);}
    47% {
        transform: translate(300px,0px) scaleX(-1);
    }
    48% {transform: translate(300px, -10px) scaleX(-1);
        }
    52% {transform: translate(300px,0px) scaleX(1);}
    100% {
        transform: translate(0px,0px) scaleX(1);
    }
   
}

@keyframes mt2Move {
    
    10% {
        transform: translate(0px,0px) scaleX(-1);
    }
    15% {transform: translate(0px, -10px) scaleX(-1);}
    20% {
        transform: translate(0px,0px) scaleX(-1); 
    }
    21% {
        transform: translate(0px,0px) scaleX(1); 
    }
    40% {transform: translate(120px, 0px) scaleX(1);}
    50% {transform: translate(50px,0px) scaleX(1);}
    51% {transform: translate(50px,0px) scaleX(-1);}
    70% {
        transform: translate(240px,0px) scaleX(-1);
    }
    71% {
        transform: translate(240px,0px) scaleX(1);
    }
    85% {
        transform: translate(100px,0px) scaleX(1);
    }
    90% {
        transform: translate(80px,0px) scaleX(1);
    }
   
}

@keyframes mt5Move {
    49% { transform: translateX(500px) scaleX(1);}
    51% {
        transform: translateX(500px) scaleX(-1);
    }
    98% {
        transform: scaleX(-1);
    }
}

@keyframes mt8Move {
    49% {
        transform: translate(500px, -40px) scaleX(-1);
    }
    51% {
        transform: translate(500px, -40px) scaleX(1);
    }
    80% {
        transform: translate(300px, 20px);
    }
    90% {
        transform: translate(180px, -40px);
    }
    99% {
        transform: translate(0px, 0px) scaleX(1);
    }
    100% {
        transform: translate(0px, 0px) scaleX(-1);
    }
    
}

@keyframes mt6Move {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes mt10Move {
   
    30% {
        display: none;
        transform: translateX(0px);
    }


    60% {
        display: none;
        transform: translateX(-130px);
    }
    80% {
        transform: translateX(-130px);
    }
    95% {
        transform: translateX(50px);
    }
    100% {
        transform: rotate(0.5turn);
    }
 

}

#mstr1 {
    transform: scaleX(-1);
    animation: mt1Move 4s infinite linear;
    background-image: url("./assets/monstres/mstr1.gif");
    background-repeat: no-repeat;
    background-size: contain;
}

#mstr2 {
    transform: scaleX(-1);
        animation: mt2Move 6s infinite linear;
        animation-delay: 3s;
        background-image: url("./assets/monstres/mstr2.gif");
    background-repeat: no-repeat;
    background-size: contain;
}

#mstr3 {
    transform: scaleY(-1);
    background-image: url("./assets/monstres/mstrpics.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#mstr4 {
    transform: scaleY(-1);
    background-image: url("./assets/monstres/mstrpics.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#mstr5 {
    transform: scaleX(1);
    animation: mt5Move 10s infinite ease-in-out;
    background-image: url("./assets/monstres/mstr4.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
#mstr6 {
    animation: mt6Move 6s infinite linear;
    background-image: url("./assets/monstres/mstrbat.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#mstr7 {
    transform: scaleY(-1);
    background-image: url("./assets/monstres/mstrpics.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#mstr8 {
    transform: scaleX(-1);
    animation : mt8Move 10s infinite linear;
animation-delay: 2s;
    background-image: url("./assets/monstres/mstr5.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
#mstr9{
    background-image: url("./assets/monstres/mstrpics.png");
    background-repeat: no-repeat;
    background-size: contain;
}


#mstr10 {
    animation : mt10Move 8s infinite linear;
    background-image: url("./assets/monstres/mstr3.png");
    background-repeat: no-repeat;
    background-size: contain;

}

/*css food*/

.food {
    position: absolute;
    z-index: 7;
}
.plein {
    background-image: url("./assets/healPlein.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.vide {
    background-image: url("./assets/healvide.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.hidden {
    display: none;
}

/*css village*/

.village {
    position: absolute;
    animation : help 3s infinite linear;
    z-index: 8;
}
.hidden {
    display: none;
}

#vlg1 {
    background-image: url("./assets/personnages/villageois/villageois1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#vlg2 {
    background-image: url("./assets/personnages/villageois/villageois2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#vlg3 {
    background-image: url("./assets/personnages/villageois/villageois3.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#vlg4 {
    background-image: url("./assets/personnages/villageois/villageois4.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#vlg5 {
    background-image: url("./assets/personnages/villageois/villageois5.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#vlg6 {
    background-image: url("./assets/personnages/villageois/villageois6.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes help {
    20% {
        transform: translateY(-10px);
    }
    30% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px); 
    }
    60% {
        transform: translateY(0px);
    }

}

/* animation jump

.jump {
    animation: jump 0.8s linear;
}

@keyframes jump {
    
    30% {
        bottom: 30%;
    }
    50% {
        bottom: 30%;
    }
    100% {
        bottom: 0%;
    }
}*/

/* mise en page bloque1*/



/*mise en page bloque2*/

