* {
    margin: 0;
}


#gameFrame {
    position: relative;
    width: 200vw;
    height: 100vh;
}
#startGame {
    width: 10vw;
    height: 5vh;
    background-color: yellowgreen;
    display: block;
}
#life {
    display: block;
    width: 10vw;
    height: 5vh;
}
#timeRemaining {
    display: block;
    width: 10vw;
    height: 5vh;
    margin-left: 4vw;
}
#navGame {
    width: 50vw;
    height: 5vh;
    top: 0px;
    left: 0px;
    position: sticky;
    display: flex;
    flex-direction: row;
}
/* mise en forme bloque principal & classes générales */
.bloque {
    position: absolute;
}
.rouge {
    background-color: red;
}
.invisible {
    background-color: brown;
}

#id8 {
    animation: platMove 2.5s infinite ease-in-out;
}
@keyframes platMove {
    
    50% {
        transform: translateX(150px)
    }
}

#id10 {
animation: platdis 8s infinite linear;
}

@keyframes platdis {
    20% {
        display: none;
    }

    50% {
        display: none;
    }
}

/*css perso*/
#moi {
   background-color: blue;
   position: absolute;
}

/*css monstres*/
.monster {
    background-color: orchid;
    position: absolute; 
}

@keyframes mt1Move {
    
    1% {transform: translate(0px, -10px);}
    5% {transform: translate(0px,0px);}
    47% {
        transform: translate(300px,0px);
    }
    48% {transform: translate(300px, -10px);}
    52% {transform: translate(300px,0px);}
    100% {
        transform: translate(0px,0px);
    }
   
}

@keyframes mt2Move {
    
    10% {
        transform: translate(0px,0px);
    }
    15% {transform: translate(0px, -10px);}
    20% {
        transform: translate(0px,0px); 
    }
    40% {transform: translate(120px, 0px);}
    50% {transform: translate(50px,0px);}
    70% {
        transform: translate(240px,0px);
    }
    85% {
        transform: translate(100px,0px)
    }
    90% {
        transform: translate(80px,0px);
    }
   
}

@keyframes mt5Move {
    50% {
        transform: translateX(500px);
    }
}

@keyframes mt6Move {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

#mstr1 {
    animation: mt1Move 4s infinite linear;
}

#mstr2 {
        animation: mt2Move 6s infinite linear;
        animation-delay: 3s;
}

#mstr5 {
    animation: mt5Move 10s infinite ease-in-out;
}

#mstr6 {
    animation: mt6Move 6s infinite linear;
}

/*css food*/

.food {
    background-color: green;
    position: absolute;
}
.hidden {
    display: none;
}

/*css village*/

.village {
    position: absolute;
    background-color: yellow;
}
.hidden {
    display: none;
}

/* animation jump

.jump {
    animation: jump 0.8s linear;
}

@keyframes jump {
    
    30% {
        bottom: 30%;
    }
    50% {
        bottom: 30%;
    }
    100% {
        bottom: 0%;
    }
}*/

/* mise en page bloque1*/



/*mise en page bloque2*/

